body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}
ol, ul {
  padding-left: 30px;
}
.status {
  margin-bottom: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.square.O {
  color:red;
}
.square.highlite-square {
  color:blue;
}
.square:focus {
  outline: none;
}
.board-row:nth-of-type(even) .square:nth-child(odd) {background: #f6f6f6}
.board-row:nth-of-type(odd) .square:nth-child(even) {background: #f6f6f6}

.kbd-navigation .square:focus {
  background: #ddd;
}

.main, .game {
  margin: 20px;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-info {
  margin: 20px;
}
.game-button {
  margin: 40px 5px 0 0;
}
.back-button {
	margin-top: -2px;
}

.player-nick {
  margin: 0px 20px 0px 0;
	float: left;
}
.mode-label {
  margin: 0px 20px 0px 0;
	float: left;
}
.lang-selector {
  margin: 0px 20px 0 0;
  float: left;
}
.readme-link {
  margin: 0px 20px 0 0;
  float: left;
}

.board.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

form {
	background: #000;
	padding: 2px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
form input {
	border: 0;
	padding: 10px 0 10px 6px;
	width: 90%;
	margin-right: 2px;
}
form button {
	width: 9%;
	background: rgb(229, 237, 255);
	border: none;
	padding: 10px;
}
#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }