body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}
ol, ul {
  padding-left: 30px;
}
.status {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.square.O {
  color:red;
}
.square.highlite-square {
  color:blue;
}
.square:focus {
  outline: none;
}
.board-row:nth-of-type(even) .square:nth-child(odd) {background: #f6f6f6}
.board-row:nth-of-type(odd) .square:nth-child(even) {background: #f6f6f6}

.kbd-navigation .square:focus {
  background: #ddd;
}

.main, .header {
  margin: 20px;
}
.game {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}
.game-info {
  margin: 0 20px;
}
.game-button, button {
  margin-top: -2px;
}
.game-options {
	float: left;
  margin-right: 1em;
	vertical-align: top;
}
.back-button {
	margin-top: -2px;
}

.player-nick {
  margin: 0px 20px 0px 0;
	float: left;
}
.mode-label {
  margin: 0px 20px 0px 0;
	float: left;
}
.lang-selector {
  margin: 0px 20px 0 0;
  float: left;
}
.readme-link {
  margin: 0px 20px 0 0;
  float: left;
}

.board.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

form {
	bottom: 0;
	width: 100%;
}
form input {
	border: 1px solid black;
	border-right: 0px;
	padding: 8px 0 8px 4px;
	max-width: 360px;
	width: 100%;
	height: 16px;
}
form button {
	border: 1px solid black;
	width: 55px;
	background: rgb(229, 237, 255);
	padding: 8px;
	height: 34px;
}
#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-height: 460px;
	/*overflow: overlay;*/
	overflow-y: scroll;
}
#messages li {
	padding: 5px 10px;
}
#messages li:nth-child(odd) {
	background: #eee;
}
.message-data {
	max-width: 420px;
	width: 100%;
}